<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gpc1">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <permission
        android:name="com.example.gpc1.permission.gpc"
        android:label="GPC Permission"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GPC1"
        tools:ignore="AllowBackup"
        android:networkSecurityConfig="@xml/network_security_config"
        >
        <receiver
            android:name=".receiver.ReceiverPerubahanJaringan"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.gpc1.ACTION"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".background.PengirimanDataService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".receiver.ReceiverPengirimanData"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.ReceiverPerekamanData"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".background.IntentServicePerekamanData"
            android:enabled="true"
            android:foregroundServiceType="location">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />
                <action android:name="android.location.MODE_CHANGED" />
            </intent-filter>
        </service>
        <service
            android:name=".SendData"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".menus.LogActivity" />
        <activity android:name=".menus.AboutUs" />
        <activity android:name=".menus.SensorActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".menus.MainActivity"
            android:launchMode="singleTask" />
    </application>

</manifest>